<div class="container">
    <div class="row">
        <article class="footer-content">
            <div class="footer-logo">
                <h2>My Future Career</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In mollitia odio veniam autem
                    necessitatibus! Aliquam est vero veritatis exercitationem saepe!</p>

                <ul>
                    <li>Adres: Rodeweg 123</li>
                    <li>Plaats: Willemstad, Curaçao</li>
                </ul>

            </div>
            <nav>
                <h3>Links</h3>
                <ul class="social-media">
                    <li><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i><a href="#">LinkedIn</a></li>
                    <li><i class="fa-brands fa-facebook" style="color: #ffffff;"></i><a href="#">Facebook</a></li>
                    <li><i class="fa-brands fa-instagram" style="color: #ffffff;"></i><a href="#">Instagram</a></li>
                </ul>
            </nav>
            <div class="adress">
                <h3>Neem contact</h3>
                <ul>
                    <li><i class="fa-solid fa-phone" style="color: #ffffff;"></i><a href="#">Tel: +5999 520-8561</a></li>
                    <li><i class="fa-solid fa-envelope" style="color: #ffffff;"></i><a href="#">E-mail: myfuturecareer2022@gmail.com</a></li>
                </ul>

            </div>

        </article>

    </div>
</div>