<form action="/confirmation" method="post">
    <h2>Neem contact op!</h2>
    <label class="first-name">
        <span>Naam</span>
        <input type="text" name="first_name">
    </label>

    <label class="last-name">
        <span>Achternaam</span>
        <input type="text" name="last_name">
    </label>

    <label class="email">
        <span>Email</span>
        <input type="email" name="email">
    </label>

    <label class="message" for="message">
        <span>Neem contact met ons!</span>
          <textarea name="message" id="message"></textarea>
    </label>
  
    <button class="button" type="submit">Stuur een bericht</button>
</form>