<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.html') %>
</head>

<body>
    <header id="top">
        <%- include('./partials/menu.html') %>

    </header>

    <main id="content">
        <section class="hero">
            <article class="hero-description left-section">
                <h1>My future Career</h1>

                <p>

                    My Future Career is een klein adviesbureau met een groot aanbod aan diensten die studie- of
                    loopbaangericht zijn. We
                    begeleiden niet alleen scholieren en studenten, maar ook volwassenen en bedrijven die vraagstukken
                    hebben over
                    loopbaanmogelijkheden voor hun personeel.
                    My Future Career gaat uit van de gedachte dat met een goede basis, dus goede loopbaan- en
                    studiekeuzebegeleiding,
                    iedereen een succesvolle carrière kan hebben. Ons doel is jongeren te begeleiden naar hun toekomst.
                    Ons motto: ‘We
                    willen dat iedereen succesvol is in het leven!”
                    We stimuleren jongeren om bewust over hun loopbaan te denken. Dit bereiken we door te kijken naar
                    hun talenten,
                    competenties en interesses.


                </p>

                <a href="#" class="button primary">Neem contact</a>
            </article>
            <article class="hero-image right-section">
                <img src="images/students-backgrond.jpg" alt="Jealaine Alexander">

            </article>
        </section>

        <section class="hero company-mission">
            <article class="hero-description left-section">
                <h2>Missie</h2>
                <p>My Future Career wil bijdragen aan een goede studie en loopbaan voor jongeren van Curaçao. We willen
                    zorgen dat:</p>


            </article>
            <article class="hero-image right-section">
                <ul>
                    <li>Jongeren zich beter bewust zijn van hun talenten, kunnen en kansen</li>
                    <li>Jongeren minder snel uitvallen voor, tijdens of na een studiekeuze op het eiland of in het
                        buitenland</li>
                    <li>Jongeren actief zoeken, beleven en ondernemen op het eiland na een studie</li>
                </ul>

            </article>


        </section>

        <section class="services-section">
            <div class="container">
                <h2>Diensten die wij aanbieden</h2>
                <div class="services-list">
                    <% services.forEach(service=> { %>
                    <article class="service">
                        <h3><%= service.service_title %></h3>
                        <p><%= service.service_description %> </p>
                    
                        <a href="#" class="button">Bekijk dit traject</a>
                    
                    </article>
                    <% }) %>
                </div>

            </div>

        </section>

        <section class="hero">
            <article class="hero-description left-section">
                <h1>Kernwaarden</h1>

                <p>
                    My Future Career wil dat haar doelgroepen zichzelf leren kennen, weten wat hun talenten , drijfveren
                    zijn, hun motieven
                    ontdekken en daarop reflecteren. Het kunnen onderzoeken en ontdekken van de verschillende soorten
                    werk in relatie tot de
                    eigen mogelijkheden en talenten. Het kunnen schetsen van een toekomstperspectief. Stap voor stap hun
                    toekomst bepalen en
                    aan de hand daarvan voorbeeldige burgers te creëren.

                </p>

                <a href="#" class="button primary">Neem contact</a>
            </article>
            <article class="hero-image right-section">


            </article>


        </section>

        <section class="company-goal">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">Ons hoofddoel</h2>
                    <p class="text-center">
                        Door middel van onze dienstverlening willen we iedereen, ook volwassen, helpen bij het
                        ontwikkelen van een eigen
                        arbeidsidentiteit: wat voor soort mens ben ik, wat drijft mij en kan ik in mijn beroep het soort
                        mens zijn dat ik denk
                        te zijn?
                    </p>
                </div>
            </div>
        </section>

        <section class="contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        
                        <%- include('./partials/form.html') %>
                    </div>
                    <div class="col-md-6">
                        <%- include('./partials/contact.html') %>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer id="bottom">
        <%- include('./partials/footer.html') %>
    </footer>

</body>

</html>