<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.html') %>
</head>

<body>
    <header id="top">
        <%- include('./partials/menu.html') %>

    </header>

    <main id="content">
        <section class="hero">
            <article class="hero-description left-section">
                <h1>My future Career</h1>

                <p>My Future Career is een zelfstandige organisatie die voorlichting, adviezen en begeleiding geeft op
                    het gebied van
                    studie en loopbaan. Wij ondersteunen leerlingen, studenten, ouders, onderwijsinstellingen en
                    bedrijven op het hierboven
                    aangegeven vakgebied. Samen streven we ernaar om al onze klanten succesvol te laten zijn op de
                    arbeidsmarkt. Door middel
                    van LOB, hen de vijfloopbaancompetenties; kwaliteitenreflectie, motievenreflectie, loopbaansturing,
                    werkexploratie en
                    netwerken aan te leren.

                </p>

                <a href="#" class="button primary">Neem contact</a>
            </article>
            <article class="hero-image right-section">
                <img src="images/students-backgrond.jpg" alt="Jealaine Alexander">

            </article>


        </section>

        <section class="services-section">
            <div class="container">
                <h2>Diensten</h2>
                <div class="services-list">
                    <article class="service">
                        <h3>Dienst 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, deserunt laboriosam
                            aperiam quam itaque
                            magnam adipisci qui, autem sequi eveniet quisquam debitis sed. </p>

                        <ul>
                            <li>Test 1</li>
                            <li>Test 2</li>
                            <li>Test 3</li>
                            <li>Test 4</li>
                            <li>Test 5</li>
                        </ul>

                        <a href="#" class="button">Bekijk dit traject</a>

                    </article>
                    <article class="service">
                        <h3>Dienst 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, deserunt laboriosam
                            aperiam quam itaque
                            magnam adipisci qui, autem sequi eveniet quisquam debitis sed. </p>

                        <ul>
                            <li>Test 1</li>
                            <li>Test 2</li>
                            <li>Test 3</li>
                            <li>Test 4</li>
                            <li>Test 5</li>
                        </ul>

                        <a href="#" class="button">Bekijk dit traject</a>

                    </article>
                    <article class="service">
                        <h3>Dienst 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, deserunt laboriosam
                            aperiam quam itaque
                            magnam adipisci qui, autem sequi eveniet quisquam debitis sed. </p>

                        <ul>
                            <li>Test 1</li>
                            <li>Test 2</li>
                            <li>Test 3</li>
                            <li>Test 4</li>
                            <li>Test 5</li>
                        </ul>

                        <a href="#" class="button">Bekijk dit traject</a>

                    </article>
                </div>

            </div>

        </section>

        <section class="hero">
            <article class="hero-description left-section">
                <h1>My future Career</h1>

                <p>My Future Career is een zelfstandige organisatie die voorlichting, adviezen en begeleiding geeft op
                    het
                    gebied van
                    studie en loopbaan. Wij ondersteunen leerlingen, studenten, ouders, onderwijsinstellingen en
                    bedrijven op
                    het hierboven
                    aangegeven vakgebied. Samen streven we ernaar om al onze klanten succesvol te laten zijn op de
                    arbeidsmarkt.
                    Door middel
                    van LOB, hen de vijfloopbaancompetenties; kwaliteitenreflectie, motievenreflectie, loopbaansturing,
                    werkexploratie en
                    netwerken aan te leren.

                </p>

                <a href="#" class="button primary">Neem contact</a>
            </article>
            <article class="hero-image right-section">


            </article>


        </section>


    </main>

</body>

</html>