@font-face {
    font-display: swap;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat/montserrat-regular.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'montserrat-bold', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat/montserrat-bold.ttf') format('ttf');
}
@font-face {
    font-display: swap;
    font-family: 'montserrat-semibold', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat/montserrat-semibold.ttf') format('ttf');
}
@font-face {
    font-display: swap;
    font-family: 'bebas', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas/bebas.ttf') format('ttf');
}