@import "./helpers/variables";
@import "./helpers/functions";

html {
    font-size: 62.5%; // Set default px to 10px, so 16px is 1.6rem
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}