h1 {
    font-family: "Bebas Neue",
        sans-serif;
    font-size: 6rem;
}
h2 {
    font-family: "Bebas Neue",
            sans-serif;
            font-size: 4rem;
}

p,
a,
button {
    font-size: 1.6rem;
}

.button {
    padding: 1rem 2.5rem;
    background: color(primary);
    border: none;
    color: color(text);
    font-size: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 1.6rem;

}